{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "globals": {
    "document": true
  },
  "rules": {
    "react/jsx-filename-extension": "off",
    "react/prefer-stateless-function": "off"
  }
}
