{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "globals": {
    "document": true
  },
  "rules": {
    "react/jsx-filename-extension": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/forbid-prop-types": "off",
    "no-console": "off"
  }
}
